[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
langchain-tavily = "*"
logger = "*"
langchain-chroma = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
langchain-community = "*"
langchain-core = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.12"
